<h1>Top 5 Area</h1>

<ul>
	<% @states.each do |s| %>
		<li>Name: <%= s.name %>, Capital: <%= s.capital %>,
		Population: <%= s. population %>, Area in Sq. miles: <%= s.area %></li>
		<% end %>
</ul>		