/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import 'bootstrap-sprockets';
@import 'bootstrap';

.opaque {
	opacity: 0.2;
}

.row1 {
	height: 1em;
}

.well {
	height: 325px;
}

.gray-text {
	color: #8899a6;
}


.mini-pic {
	width: 75px;
}

.navbar-pic {
	width: 25px;
}

.borderline {
	border: 1px solid #d8d8d8;
}

.tweet-area {
	padding-top: 10px;
}

.tweet-well {
	padding-bottom: 10px;
}

.center-it {
	text-align: center;
}

.pleft-10 {
	padding-left: 10px;
}

.pbot-50 {
	padding-bottom: 50px;
}

.new-tweet-area {
	background-color: #eaf8fd;
	padding: 10px;
	border: 1px solid #cbeffb;
	border-radius: 5px 5px 0 0;
}

.mtop-6 {
	margin-top: 6px;
}