<h2>Thanks for shopping with us!</h2>
<p>Let's review your order:</p>
<div class="row" >
<% @order.order_items.each do |k,v| %>
  <div class="col-md-6">
  <div class="well" >
    <ul>
        <li><%= Product.find(k).name %>, <%= v %></li>
    </ul>
<% end %>

<p>
    <strong>Order Total:</strong> <%= number_to_currency @order.grand_total %>
</p>
		</div>
	</div>
</div>