<h1>Welcome To Our Class</h1>
<p>Come see who lives in our classroom</p>

<%= link_to "Students", students_path, class: 'btn btn-success' %>
<%= link_to "Teachers", teachers_path, class: 'btn btn-success' %>
<%= link_to "Pets", pets_path, class: 'btn btn-success' %>
